@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms;
}

html, body {
  background: url(stock.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.navbar {
  background: #fff;
  display: flex;
  align-items: center;

  height: 91px;
  width: 100%;

  padding: 0px 15px;
}

.navbar .logo {
  font-weight: 800;
  font-size: 22px; 
}

.navbar .active {
  color: #4EACE1;
}

.navbar .links {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar .links a {
  height: 100%;
  width: 126px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  flex-direction: column;
  color: white;
  text-align: center;
}

.container i {
  font-weight: 200;
  font-size: 24px;
}


@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    height: 163px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navbar .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 71%;
    max-height: 71%;
    min-height: 71%;
  }

  .navbar .links a {
   height: 17%; 
  }
}